# Autodetect text files
* text=auto

# Make sure unix shell scripts use the correct line endings
*.sh eol=lf

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
*.txt text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.data binary
