# Vagrant Files
.vagrant
*.box

# Ansible Files
vagrant_ansible*
.my.cnf
.protobox
config.yml

# Other Repos
packer/*
vagrant-protobox-gem/*
protobox-gem/*
vagrant_src/*
ansible_src/*
roles_dev/*

# Web Files
index.html

# IDE
.idea
*.sublime*

# OS or Editor folders
.DS_Store
Thumbs.db
logs
