@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    margin:0;
    font-family:'Lato', sans-serif;
    text-align:left;
    color: #999;
}

.content {
    width:900px;
    margin:0 auto;
}

.logo {
    text-align:center;
    padding:40px 0;
}

.logo h1 {
    margin:0;
}

.row {
    clear:both;
}

.column {
    float:left;
    width:50%;
}

a, a:visited {
    color:#d4333f;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

ul {
    margin:0;
    padding:0;
}

ul li {
    margin:0 1.2em;
}

p {
    margin:2em 0;
    color:#555;
}

.sites, .dbs {
    height:100px;
    overflow:auto;
}