; {{ ansible_managed }}
; http://xdebug.org/docs/all_settings
[xdebug]
{% if php.xdebug.settings.auto_trace is defined %}
xdebug.auto_trace={{ php.xdebug.settings.auto_trace|default("0") }}
{% endif %}
{% if php.xdebug.settings.cli_color is defined %}
xdebug.cli_color={{ php.xdebug.settings.cli_color|default("0") }}
{% endif %}
{% if php.xdebug.settings.collect_assignments is defined %}
xdebug.collect_assignments={{ php.xdebug.settings.collect_assignments|default("0") }}
{% endif %}
{% if php.xdebug.settings.collect_includes is defined %}
xdebug.collect_includes={{ php.xdebug.settings.collect_includes|default("1") }}
{% endif %}
{% if php.xdebug.settings.collect_params is defined %}
xdebug.collect_params={{ php.xdebug.settings.collect_params|default("0") }}
{% endif %}
{% if php.xdebug.settings.collect_return is defined %}
xdebug.collect_return={{ php.xdebug.settings.collect_return|default("0") }}
{% endif %}
{% if php.xdebug.settings.collect_vars is defined %}
xdebug.collect_vars={{ php.xdebug.settings.collect_vars|default("0") }}
{% endif %}
{% if php.xdebug.settings.coverage_enable is defined %}
xdebug.coverage_enable={{ php.xdebug.settings.coverage_enable|default("1") }}
{% endif %}
{% if php.xdebug.settings.default_enable is defined %}
xdebug.default_enable={{ php.xdebug.settings.default_enable|default("1") }}
{% endif %}
{% if php.xdebug.settings.dump_COOKIE is defined %}
xdebug.dump.COOKIE={{ php.xdebug.settings.dump_COOKIE|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_ENV is defined %}
xdebug.dump.ENV={{ php.xdebug.settings.dump_ENV|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_FILES is defined %}
xdebug.dump.FILES={{ php.xdebug.settings.dump_FILES|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_GET is defined %}
xdebug.dump.GET={{ php.xdebug.settings.dump_GET|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_POST is defined %}
xdebug.dump.POST={{ php.xdebug.settings.dump_POST|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_REQUEST is defined %}
xdebug.dump.REQUEST={{ php.xdebug.settings.dump_REQUEST|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_SERVER is defined %}
xdebug.dump.SERVER={{ php.xdebug.settings.dump_SERVER|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_SESSION is defined %}
xdebug.dump.SESSION={{ php.xdebug.settings.dump_SESSION|default("") }}
{% endif %}
{% if php.xdebug.settings.dump_globals is defined %}
xdebug.dump_globals={{ php.xdebug.settings.dump_globals|default("1") }}
{% endif %}
{% if php.xdebug.settings.dump_once is defined %}
xdebug.dump_once={{ php.xdebug.settings.dump_once|default("1") }}
{% endif %}
{% if php.xdebug.settings.dump_undefined is defined %}
xdebug.dump_undefined={{ php.xdebug.settings.dump_undefined|default("0") }}
{% endif %}
{% if php.xdebug.settings.extended_info is defined %}
xdebug.extended_info={{ php.xdebug.settings.extended_info|default("1") }}
{% endif %}
{% if php.xdebug.settings.file_link_format is defined %}
xdebug.file_link_format={{ php.xdebug.settings.file_link_format|default("") }}
{% endif %}
{% if php.xdebug.settings.force_display_errors is defined %}
xdebug.force_display_errors={{ php.xdebug.settings.force_display_errors|default("0") }}
{% endif %}
{% if php.xdebug.settings.force_error_reporting is defined %}
xdebug.force_error_reporting={{ php.xdebug.settings.force_error_reporting|default("0") }}
{% endif %}
{% if php.xdebug.settings.halt_level is defined %}
xdebug.halt_level={{ php.xdebug.settings.halt_level|default("0") }}
{% endif %}
{% if php.xdebug.settings.idekey is defined %}
xdebug.idekey={{ php.xdebug.settings.idekey|default("") }}
{% endif %}
{% if php.xdebug.settings.manual_url is defined %}
xdebug.manual_url={{ php.xdebug.settings.manual_url|default("") }}
{% endif %}
{% if php.xdebug.settings.max_nesting_level is defined %}
xdebug.max_nesting_level={{ php.xdebug.settings.max_nesting_level|default("100") }}
{% endif %}
{% if php.xdebug.settings.overload_var_dump is defined %}
xdebug.overload_var_dump={{ php.xdebug.settings.overload_var_dump|default("1") }}
{% endif %}
{% if php.xdebug.settings.profiler_append is defined %}
xdebug.profiler_append={{ php.xdebug.settings.profiler_append|default("0") }}
{% endif %}
{% if php.xdebug.settings.profiler_enable is defined %}
xdebug.profiler_enable={{ php.xdebug.settings.profiler_enable|default("0") }}
{% endif %}
{% if php.xdebug.settings.profiler_enable_trigger is defined %}
xdebug.profiler_enable_trigger={{ php.xdebug.settings.profiler_enable_trigger|default("0") }}
{% endif %}
{% if php.xdebug.settings.profiler_output_dir is defined %}
xdebug.profiler_output_dir={{ php.xdebug.settings.profiler_output_dir|default("/tmp") }}
{% endif %}
{% if php.xdebug.settings.profiler_output_name is defined %}
xdebug.profiler_output_name={{ php.xdebug.settings.profiler_output_name|default("cachegrind.out.%p") }}
{% endif %}
{% if php.xdebug.settings.remote_autostart is defined %}
xdebug.remote_autostart={{ php.xdebug.settings.remote_autostart|default("0") }}
{% endif %}
{% if php.xdebug.settings.remote_connect_back is defined %}
xdebug.remote_connect_back={{ php.xdebug.settings.remote_connect_back|default("0") }}
{% endif %}
{% if php.xdebug.settings.remote_cookie_expire_time is defined %}
xdebug.remote_cookie_expire_time={{ php.xdebug.settings.remote_cookie_expire_time|default("3600") }}
{% endif %}
{% if php.xdebug.settings.remote_enable is defined %}
xdebug.remote_enable={{ php.xdebug.settings.remote_enable|default("0") }}
{% endif %}
{% if php.xdebug.settings.remote_handler is defined %}
xdebug.remote_handler={{ php.xdebug.settings.remote_handler|default("dbgp") }}
{% endif %}
{% if php.xdebug.settings.remote_host is defined %}
xdebug.remote_host={{ php.xdebug.settings.remote_host|default("localhost") }}
{% endif %}
{% if php.xdebug.settings.remote_log is defined %}
xdebug.remote_log={{ php.xdebug.settings.remote_log|default("") }}
{% endif %}
{% if php.xdebug.settings.remote_mode is defined %}
xdebug.remote_mode={{ php.xdebug.settings.remote_mode|default("req") }}
{% endif %}
{% if php.xdebug.settings.remote_port is defined %}
xdebug.remote_port={{ php.xdebug.settings.remote_port|default("9000") }}
{% endif %}
{% if php.xdebug.settings.scream is defined %}
xdebug.scream={{ php.xdebug.settings.scream|default("0") }}
{% endif %}
{% if php.xdebug.settings.show_exception_trace is defined %}
xdebug.show_exception_trace={{ php.xdebug.settings.show_exception_trace|default("0") }}
{% endif %}
{% if php.xdebug.settings.show_local_vars is defined %}
xdebug.show_local_vars={{ php.xdebug.settings.show_local_vars|default("0") }}
{% endif %}
{% if php.xdebug.settings.show_mem_delta is defined %}
xdebug.show_mem_delta={{ php.xdebug.settings.show_mem_delta|default("0") }}
{% endif %}
{% if php.xdebug.settings.trace_enable_trigger is defined %}
xdebug.trace_enable_trigger={{ php.xdebug.settings.trace_enable_trigger|default("0") }}
{% endif %}
{% if php.xdebug.settings.trace_format is defined %}
xdebug.trace_format={{ php.xdebug.settings.trace_format|default("0") }}
{% endif %}
{% if php.xdebug.settings.trace_options is defined %}
xdebug.trace_options={{ php.xdebug.settings.trace_options|default("0") }}
{% endif %}
{% if php.xdebug.settings.trace_output_dir is defined %}
xdebug.trace_output_dir={{ php.xdebug.settings.trace_output_dir|default("/tmp") }}
{% endif %}
{% if php.xdebug.settings.trace_output_name is defined %}
xdebug.trace_output_name={{ php.xdebug.settings.trace_output_name|default("trace.%c") }}
{% endif %}
{% if php.xdebug.settings.var_display_max_children is defined %}
xdebug.var_display_max_children={{ php.xdebug.settings.var_display_max_children|default("128") }}
{% endif %}
{% if php.xdebug.settings.var_display_max_data is defined %}
xdebug.var_display_max_data={{ php.xdebug.settings.var_display_max_data|default("512") }}
{% endif %}
{% if php.xdebug.settings.var_display_max_depth is defined %}
xdebug.var_display_max_depth={{ php.xdebug.settings.var_display_max_depth|default("3") }}
{% endif %}
