# {{ ansible_managed }}
server {
        listen 80;
        root {{ protobox_dashboard_path }};
        client_max_body_size 64M;

        location / {
                index index.html index.htm;
        }
}
