# {{ ansible_managed }}
server {
        listen 80;
        root {{ protobox.dashboard.path|default('/srv/www/web/protobox') }};
        client_max_body_size 64M;

        location / {
                index index.html index.htm;
        }
}
