# {{ ansible_managed }}
<VirtualHost *:{{ item.port|default('80') }}>
    ServerName {{ item.servername }}
    {% if item.serveraliases %}ServerAlias{% for alias in item.serveraliases %} {{ alias }}{% endfor %}{% endif %}
    {% if item.serveradmin is defined %}ServerAdmin {{ item.serveradmin }}{% endif %}

    {% if hhvm is defined and hhvm.install == 1 %}
    ProxyPass / fcgi://127.0.0.1:9000{{ item.docroot }}/
    #ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000{{ item.docroot }}/$1
    {% endif %}

    DocumentRoot {{ item.docroot }}

    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>

    <Directory {{ item.docroot }}>
        Options Indexes FollowSymLinks MultiViews
        #AllowOverride None
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    # Values: debug, info, notice, warn, error, crit, alert, emerg
    LogLevel warn

    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined

    {% if item.setenv is defined %}{% for env in item.setenv %}
    SetEnv {{ env }}
    {% endfor %}{% endif %}
</VirtualHost>